{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>29º Semana de Cine - Menú Principal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body class="hero text-white text-center d-flex flex-column justify-content-center align-items-center vh-100">
  
<section class= "contenido">
  <div class="titulo">
    <h1 class="mb-0">SEMANA <br>DE CINE</h1>
    <h2>EN SALTA</h2>
  </div>

  <div class="imagen">
    <img src="{% static 'img/29SCS.png' %}" alt="logo" width="250" height="auto">
  </div>


  <div class="cuadro p-3">
    <div class="row">
      <div class="opciones col-12 g-3">
        <a href="{% url 'trivia:comenzar' %}" class="btn btn-primary btn-lg w-100">Trivias</a>
        <a href="{% url 'votacion:lista_peliculas' %}" class="btn btn-success btn-lg w-100">Voto del público</a>
        <a href="{% url 'encuesta:lista_preguntas' %}" class="btn btn-warning btn-lg text-dark w-100">Participa de encuestas</a>
        <a href="https://saltacine.gob.ar" target="_blank" class="btn btn-info btn-lg text-dark w-100">Programación</a>
      </div>
    </div>
  </div>

  <div class="imagen mb-2">
    <img src="{% static 'img/SEC DE CULTURA - BLANCO.png' %}" alt="logo" width="150" height="auto">
  </div>


</section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>