# Datos sensibles
datos.json
db.sqlite3

# Configuración local
plataforma_interactiva/settings/settings_local.py

# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos generados
staticfiles/
